<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
</head>
<body>

<!-- Insertamos el menu -->
<nav th:insert="navbarFragment::navbar">
</nav>

 <div class="container">
        <div class="container-fluid">
            <div class="page-header">
                <h3 th:utext="${titulo}"></h3>
            </div>
            <form action="#"
                  th:action="@{/addTeamTournament/}+${torneo.id_torneo}+@{/team}"
                  enctype="multipart/form-data">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Información del torneo</div>
                        <div class="panel-body" style="padding-left: 5px;">
                            Nombre : <b th:utext="${torneo.nombre}"></b>
                            <br/>
                            Descripción : <b th:utext="${torneo.descripcion}"></b>
                            <br/>
                            Ciudad : <b th:utext="${torneo.ciudad.nombre}"></b>
                            <br/>
                            Id Federación : <b th:utext="${torneo.federacion.id_federacion}"></b>
                            <br/>
                            Equipos : <span th:each="equipo : ${torneo.equipos}">
                            <br/>&nbsp;&nbsp;<b th:utext="${equipo.nombre}"></b>
                        </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" name="teamId">
                            <option th:each="equipo : ${equipos}"
                            th:value="${equipo.id_equipo}"
                            th:text="${equipo.nombre}"></option>
                        </select>
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">
                    Add equipo
                </button>
            </form>
        </div>
    </div>



	

<!--

<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>


		<form th:action="@{/addTeamTournament/}+${torneo.id_torneo}+@{/team}" th:object="${torneo}" > 
	
	<form th:action="#" th:object="${torneo}" >
			
			  <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Informacion del torneo</div>
                        <div class="panel-body" style="padding-left: 5px;">
                            Nombre : <b th:utext="${torneo.nombre}"></b>
                            <br/>
                            Descripción : <b th:utext="${torneo.descripcion}"></b>
                            <br/>
                            Ciudad : <b th:utext="${torneo.ciudad.nombre}"></b>
                            <br/>
                            Id Federación : <b th:utext="${torneo.federacion.id_federacion}"></b>
                            <br/>
                            Equipos : <span th:each="equipo : ${torneo.equipos}">
                            <br/>&nbsp;&nbsp;<b th:utext="${equipo.nombre}"></b>
                        </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" name="courseId">
                            <option th:each="equipo : ${equipos}"
                            th:value="${equipo.id_equipo}"
                            th:text="${equipo.nombre}"></option>
                        </select>
                    </div>
                </div>
			
			
			<input type="hidden" th:field="*{id_torneo}" /> 
				
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear torneo" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
	-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>