<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand pl-2" href="#">Spring Boot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listTeam}">Equipos</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listPlayer}">Jugadores</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listTournament}">Torneos</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listCity}">Ciudades</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listFederation}">Federaciones</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listDepartment}">Departamentos</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listEmployer}">Empleados</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>